/* VARIABLES */

:root {
    --primary-color: #666;
    --secondary-color: steelblue;
    --dark-color: #222;
    --light-color: #f4f4f4;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* TEXT AND BODY CSS*/

body {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 1.4rem;
}
/* TYPING & CURSOR CSS */

.cursor {
    position: relative;

}
.cursor::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid var(--primary-color);
    animation: blink 0.5s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.solidCursor {
    position: relative;

}
.solidCursor::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid var(--primary-color);
}

.typing {
    color: var(--secondary-color);
}