.typing {
    position: relative;

}
.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}